/* RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.button-type1 {
  background-color: #0061ff;
  color: white;
  padding: 5px 15px;
  max-width: 230px;
  line-height: 30px;
}

li {
  list-style-type: none;
}
header {
  background-color: #b4d0e7;
  position: relative;
}
.header-jumbotron,
section {
  margin: 50px auto;
}
header ul,
header nav,
.bottom,
.input,
.container {
  display: flex;
}

h1,
p,
.left .button-type1,
.product-desc .button-type1 {
  margin-bottom: 40px;
}

h2,
.input {
  margin-bottom: 70px;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

h2 {
  font-size: 40px;
}

/* RULES */

/* Header */

/* navigation bar */

header ul,
header nav,
.input {
  align-items: center;
}

header nav {
  justify-content: space-between;
  padding: 20px;
  height: 80px;
  background-color: white;
}

ul {
  gap: 40px;
}
/* /navigation bar */
/* Header jumbotron */
.header-jumbotron {
  max-height: 750px;
  padding-top: 100px;
  width: 1200px;
}

.header-jumbotron .top h1 {
  font-size: 70px;
}

.header-jumbotron .bottom .right img {
  width: 300%;
}

.bottom {
  width: 600px;
}

#arrowDown {
  position: absolute;
  bottom: 20px;
  width: 730px;
  font-size: 60px;
}

/* /header jumbotron */
/* /header */

/* Body */
/* First section */
section {
  padding: 160px 0;
  width: 1000px;
}

.input {
  max-width: 400px;
  justify-content: space-between;
}

.container {
  gap: 50px;
  flex-wrap: wrap;
}

.box {
  border: 2px solid #cbcecf;
  width: calc((100% - 100px) / 3);
}

.user-info {
  border-bottom: 2px solid #cbcecf;
  padding: 2px;
  text-align: center;
  /* margin-bottom: 20px; */
}

h3 {
  font-size: 30px;
}

h5 {
  font-weight: 400;
}

.product-info {
  padding: 30px;
}

.product-info div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info,
.product-desc,
.product-highlights {
  line-height: 50px;
}

.product-desc,
.product-highlights {
  padding: 0 30px;
}

#share,
.product-highlights ul li {
  line-height: 22px;
  margin-bottom: 40px;
}

hr {
  width: 50px;
  margin-top: 30px;
}

.product-highlights {
  margin-top: 20px;
  margin-bottom: 200px;
}

.product-highlights h4 {
  margin-bottom: 30px;
}

.box:last-of-type {
  flex-direction: row;
  height: 250px;
  width: 1000px;
}
/* /First section */
/* /body */
