/* RULES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.button-type1 {
  background-color: #0061ff;
  color: white;
  padding: 5px 15px;
  text-align: center;
  line-height: 30px;
}

.button-type2 {
  border: 2px solid black;
  padding: 10px;
  line-height: 20px;
  width: 50%;
}

li {
  list-style-type: none;
}
header {
  background-color: #b4d0e7;
  position: relative;
}
.header-jumbotron,
section {
  margin: 0 auto;
}
header ul,
header nav,
.bottom,
.input,
.container,
.partners,
.logo-container,
.logo-bigBoxes:nth-of-type(odd),
.logo-littleBoxes {
  display: flex;
}

h1,
p,
.product-desc .button-type1 {
  margin-bottom: 40px;
}

.left .button-type1 {
  margin: 40px 0;
}

h2,
.input {
  margin-bottom: 70px;
}

header nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

h2 {
  font-size: 40px;
}

section {
  width: 1000px;
}

/* RULES */

/* Header */

/* navigation bar */

header ul,
header nav,
.input {
  align-items: center;
}

header nav {
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}

ul {
  gap: 40px;
}
/* /navigation bar */
/* Header jumbotron */
.header-jumbotron {
  padding-top: 70px;
  bottom: -80px;
  position: relative;
  width: 1200px;
}

.header-jumbotron .top h1 {
  font-size: 70px;
}

.header-jumbotron .bottom .right img {
  width: 300%;
}

.bottom {
  width: 600px;
}

#arrowDown {
  position: absolute;
  bottom: 80px;
  font-size: 60px;
}

/* /header jumbotron */
/* /header */

/* Body */
/* First section */
section {
  padding-top: 200px;
}

.input {
  max-width: 400px;
  justify-content: space-between;
}

.container {
  gap: 50px;
  flex-wrap: wrap;
}

.box {
  border: 2px solid #cbcecf;
  width: calc((100% - 100px) / 3);
}

.user-info {
  border-bottom: 2px solid #cbcecf;
  padding: 10px;
  text-align: center;
}

h3 {
  font-size: 25px;
}

h5 {
  font-weight: 400;
}

.product-info {
  padding: 30px;
}

.product-info div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-info,
.product-desc,
.product-highlights {
  line-height: 50px;
}

.product-desc,
.product-highlights {
  padding: 0 30px;
}

#share,
.product-highlights ul li {
  line-height: 22px;
  margin-bottom: 40px;
}

hr {
  width: 50px;
  margin-top: 30px;
}

.product-highlights {
  margin-top: 20px;
  margin-bottom: 200px;
}

.product-highlights h4 {
  margin-bottom: 10px;
}

section:first-of-type .box:last-of-type {
  flex-direction: row;
  width: 1000px;
}

/* /First section */
/* Second section */

section .partners .left img {
  display: inline-block;
  height: 510px;
}

section .right {
  padding: 50px;
}

section .right p {
  padding: 20px 0;
}
/* /second section */

/* turd section */
.box .top img {
  width: 100%;
}

.box .bottom {
  flex-direction: column;
  width: 100%;
}

.bottom p,
.box .bottom {
  margin: 20px 0;
}

section:nth-of-type(3) .box {
  border: none;
}

section:nth-of-type(4) {
  padding-top: 80px;
}

/* /turd section */
#ad {
  padding-top: 100px;
  width: 75%;
}
/* sponsors */
.logo-container {
  margin-top: 150px;
  background-color: white;
}

.logo-bigBoxes {
  width: calc(100% / 2);
}

.logo-bigBoxes:nth-of-type(2) {
  padding: 50px;
  background-color: #f5f5f5;
}

.logo-bigBoxes img {
  width: 50%;
}

.logo-littleBoxes:first-of-type div {
  display: flex;
  width: 90%;
  background-color: #a2d39b;
  height: 90%;
  justify-content: center;
}

.logo-littleBoxes {
  width: calc(100% / 2);
  justify-content: center;
  align-items: center;
}

.logo-bigBoxes hr {
  width: 20%;
  margin: 40px 0;
}

#leadName {
  padding-top: 30px;
  margin-bottom: 40%;
}

.logo-bigBoxes:nth-of-type(odd) {
  flex-wrap: wrap;
}

#one {
  background-color: #d1e9cd;
}

#two {
  background-color: #61082b;
}

#three {
  background-color: #0093ce;
}

#four {
  background-color: #ff1c1c;
}

#five {
  background-color: #d5001f;
}

#six {
  background-color: #b4d0e7;
}

#seven {
  background-color: #0d2481;
}

#eight {
  background-color: #ffd830;
}
/* /sponsors */
/* /body */
